@font-face{
    src: url("../font/MyriadProBoldSemiExtended.ttf");
    font-family: "MyriadPro";
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "MyriadPros";
}

/* smart phone */
@media screen and (min-width: 240px){
    header{
        background-color:#ffffff;
    }
    header img{
        width: 30%;
        height: auto;
        position: relative;
        top: 18px;
        left: 15px;
    }
    #check{
        display: none;
    }
    .checkbox{
        display: block;
        float: right;
        margin-right: 15px;
        margin-top: 12px;
        color:#000000;
    }
    ul{
        position: fixed;
        width:100%;
        height: auto;
        background:#FFF8DC;
        /* top: 80px; */
        right: -100%;
        text-align:center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height:30px;
    }
    nav ul li a{
        font-size:50px;
        color:#000000;
    }
    nav i{
        position: relative;
        top: -20px;
        left: 0px;
    }
    /* nav ul li.active{
        background-color: aqua;
        padding: 20px;
        margin-top: 0;
    } */
    /* a.active{
        color:red;
    } */
    #check:checked ~ ul{
        top: 38px;
        right: 0;
    }


    /* main */

    main{
        width:100%;
        height: auto;
    }
    #main__bg img{
        width:100%;
        height: auto;
    }
    .main__info{
        display:grid;
        grid-template-columns: auto auto;
        margin-top: -4px;
    }
    .main__info--item{
        font-size: 3.5vw;
        padding: 10px;
    }
    .main__info--item a img{
        display: none;
        /* width: 17%;
        float: right; */
    }
    .main__info--item h2{
        color: #ffffff;
    }
    .main__info--item p{
        line-height:20px;
        color:#ffffff;
    }
    .item__content .item__content--title p{
        font-weight:bold;
    }

    /* main school */
    .main__school{
        height: auto;
    }
    .main__school--content{
        padding: 15px;
        line-height: 30px;
        background-color: silver;
    }
    .main__school--content h4{
        text-align: center;
        color: #ffffff;
        font-size: 7.5vw;
    }
    .main__school--content p{
        text-align: justify;
        color: #ffff;
        line-height: 30px;
        font-size: 5.5vw;
        margin-bottom: 20px;
    }
    .main__school--img img{
        width:100%;
        height: auto;
    }
    .main__school--content a{
        color: #ffff;
        background-image: linear-gradient(to right,#ff8207, #ff314f);
        padding: 13px;
        font-size: 5vw;
        margin-left:110px; 
    }

    /* swim lesson */
    .main__lesson{
        height: auto;
        margin-top: -4px;
    }
    .main__lesson--content{
        padding: 15px;
        line-height: 30px;
        background-color: silver;
    }
    .main__lesson--content h4{
        text-align: center;
        color: #ffffff;
        font-size: 7.5vw;
    }
    .main__lesson--content p{
        text-align: justify;
        color: #ffff;
        line-height: 30px;
        font-size: 5.5vw;
        margin-bottom: 20px;
    }
    .main__lesson--img img{
        width:100%;
        height: auto;
    }
    .main__lesson--content a{
        color: #ffff;
        background-image: linear-gradient(to right,#ff8207, #ff314f);
        padding: 13px;
        font-size: 5vw;
        margin-left:110px; 
    }

    /* Main rate */
    .main__rate{
        height: auto;
        margin-top: -4px;
    }
    .main__rate--content{
        background-image: linear-gradient(#e8314f, #df147e);
        opacity: 0.7;
        text-align: justify;
        color: #ffffffff;
        font-weight: bold;
        font-size: 4vw;
        padding:16px;
        line-height:35px;
    }
    .main__rate--content a{
        background-color: #ffffff;
        color: #000;
        padding: 5px;
        font-size: 4vw;
        position: relative;
        top: 7px;
        left: 0;
    }
    /* our events */


    .main__ourEvents{
        height: auto;
    }
    .main__ourEvents--content{
        background-image: linear-gradient(#ffb716,#ff8101);
        
    }
    .main__ourEvents--content h3{
        color: #ffff;
        font-size: 7.5vw;
        text-align: center;
    }
    .main__ourEvents ol li span{
        position: relative;
        top: -20px;
        font-size: 4.5vw;
        color: #ffffff;
    }
    .main__ourEvents--img img{
        width:100%;
        height: auto;
    }

    /* review school  */
    .main__review{
        height: auto;
        display:grid;
        /* grid-template-columns: auto auto; */
    }
    .main__review--item{
        margin:28px 0;
    }
    .main__review--item img {
        width: 50%;
        height: auto;
        margin-left: 91px;
        opacity: 0.8;
    }
    .review__item--content{
        background-color: #f3f3f3;
        padding: 40px 15px 20px 15px;
        margin-top: -38px;
        height: 207px;
        font-size: 5.5vw;
        text-align: justify;
        line-height: 28px
    }
    .review__item--content span{
        margin-top: 20px;
        color:#fc9266;
    }
    
    /* .main__review--item p{
        text-align: justify;
        font-size: 3.5vw;
        padding-right: 10px;
    } */

    /* contact info */
    .main__contact--content{
        background-image: linear-gradient(#0089d3,#007fc9);
        padding: 15px;
        text-align: justify;
        font-size: 4.5vw;
        color: #fff;
        line-height:30px;
    }
    .main__contact--content span{
        position: relative;
        top: -11px;
        font-size: 10vw;
    }

    /* map */
    .main__map img{
        width:100%;
        height: 100%;
    }

    /* footer */
    footer p{
        text-align: center;
        padding: 11px;
        font-size: 4vw;
    }

}

/* smart tablet */
@media screen and (min-width: 480px){
    header{
        height: 75px;
    }
    #nav__img{
        float: left;
    }
    nav{
        float: right;
        position: relative;
        top: 25px;
        right: 30px;
    }
    nav ul{
       position: revert;
       background-color: #ffffff;
    }
   
    nav ul li {
       display: inline-block;
       line-height:25px;
       margin: 0 5px;
    }
    nav ul li a {
        font-size: 3vw;
        font-weight:bold;
    }
    .checkbox{
        display: none;
    }
    /* nav ul li a.active{
        background-image:linear-gradient(#a75cf9,#255ed6);
    } */


    /* four information */
    .main__info{
        grid-template-columns: auto;
        margin-top: 25px;
    }

    .main__info--item {
        margin: 25px 42px;
    }
    .item__content{
        padding:30px;
    }
    .item__content--title p {
        font-size: 5vw;
    }
    .item__content--desc p{
        font-size: 4.5vw;
        line-height:45px;
    }
 


    /* school introduction */
    .main__school{
        display: flex;
        flex-direction: row;
        padding:22px;
    }
    .main__school--content{
        width: 84%;
        margin-right: 14px;
        margin-left: 20px;
        background-color: #f7f7f7;
    }
    .main__school--img img {
        width: 94%;
        height: auto;
    }
    .main__school--content p {
        line-height: 32px;
        font-size: 2vw;
        color: #aaaaaa;
    }
    .main__school--content h4{
        font-size: 4.5vw;
        color:#000000;
    }
    .main__school--content a {
        font-size: 3vw;
        margin-left: 0px;
    }
    /* swim lesson */
    .main__lesson{
        display: flex;
        flex-direction: row-reverse;
        padding:22px;
    }
    .main__lesson--content{
        margin-left: 15px;
        margin-right: 20px;
        background-color: #f7f7f7;
        width: 80%;
    }
    .main__lesson--img img {
        width: 93%;
        margin-left: 20px;
    }
    .main__lesson--content p {
        line-height: 27px;
        font-size: 1.5vw;
        color: #aaaaaa;
    }
    .main__lesson--content h4{
        font-size: 4.5vw;
        color:#000000;
    }
    .main__lesson--content a {
        font-size: 3vw;
        float: right;
    }

    /* Swimming Rate */
    .main__rate{
        background-image: url("../img/man.jpg");
        background-repeat: no-repeat;
        background-size:cover;
    
    }
    .main__rate--content{
        width: 44.5%;
        margin-left: 40px;
        opacity: 0.9;
    }
    .main__rate--content h2{
        font-size: 4.5vw;
    }
    .main__rate--content p{
        font-size: 2vw;
        line-height: 34px;
    }
    .main__rate--content a{
        padding: 12px;
        font-size: 3vw;
    }

    /* <!-- Our Event --> */
    .main__ourEvents{
        display: flex;
        flex-direction: row;
        padding:22px;
    }
    .main__ourEvents--content{
        width: 86%;
        flex-grow: 1;
        margin-right: 16px;
        margin-left: 16px;
        padding: 13px;
    }
    .main__ourEvents--content h3{
        font-size:3vw;
    }
    .main__ourEvents--content img{
        width:10%;
    }
    .main__ourEvents--content ol li span{
        font-size:19px;
        position: relative;
        top: -10px;
    }
    
    .main__ourEvents--img img{
        width: 96%;
        height: 334Px;
    }

    /*  review school */
    .review__item--content{
        font-size: 4vw;
        line-height: 58px;
        padding: 30px;
        height: 313px;
        margin: 0 40px;
        margin-top: -45px;
    }
    .main__review--item img {
        width: 40%;
        margin-left: 233px;
    }


    /* contact info */
    .main__contact{
        margin-top:30px;
        padding: 0 41px;
        display:flex;
        
    }
    .main__contact--content{
        margin-right: 10px;
        font-size:4vw;
        line-height:45px;
    }
    .main__contact--content span {
        font-size:5vw;
    }
    footer{
        margin-top:20px;
    }
}
/* ipad vertical */
@media screen and (min-width:1024px){
    header{
        height: 100px;
    }
    header img{
        top: -1px;
    }
    #nav__img{
        padding: 24px;
        width:24%;
    }
    nav{
        float:right;
        margin-right:30px;
        top: -5px;
    }
    nav ul li {
        margin: 30px 5px;
        padding-top:5px;
    }
    nav ul li a{
        padding: 40px 12px;
    }
    nav ul li a:hover{
        background-image:linear-gradient(#a75cf9,#255ed6);
        cursor: pointer;
        color:#ffffff;
    }
    nav ul li a {
        font-size:32px;
    }
    /* four information */
    .main__info{
        display: -webkit-flex; /* Safari */
        -webkit-flex-wrap: wrap; /* Safari */
        -webkit-flex-direction: row-reverse; /* Safari */
        display: flex;
        flex-direction:row;
        flex-wrap: nowrap;
        height: 350px;
        padding: 0 45px;
        margin-top: -90px;
       
    }
    .main__info--item{
        position: relative;
        top: 0;
        left: 0;
        width:100%;
        margin: 0 10px;
    }
    .item__content{
        padding:0 30px;
    }
    .item__content--title p{
        font-size:3vw;
        line-height: 37px;
    }
    .item__content--desc p{
        font-size: 2vw;
        line-height: 25px;
        text-align: left;
    }
    .item__content--more{
        position: absolute;
        top: 280px;
        left: 224px;
    }
    .main__info--item a img{
        display: inline;
        width: 100%;
        height: auto;
    }


    

    /* school introduction   */
    .main__school--content{
        width: 50%;
        margin-left: 32px;
    }
    .main__school--content h4{
        padding: 55px 10px;
        font-size:4vw;
    }
    .main__school--content p{
        padding: 10px 20px;
        color: #000000;
    }
    .main__school--content a{
        font-size: 3vw;
        position: relative;
        top: 22px;
        left: 20px;
    }
    .main__school--img img{
        width: 93%;
        margin-left: 9px;
    }
    /* swim lesson */
    .main__lesson--content{
        margin-right: 33px;
        width: 52%;
        height: 475px;
        padding: 73px 18px
        }
    .main__lesson--img img {
        height: 473px;
        width: 94.5%;
        margin-left: 30px;
    }
    .main__lesson--content h4{
        line-height: 3vw;
        font-size: 40px;
        width: 63%;
        margin-left: 20px;
        margin-bottom: 10px;
        text-align:justify;
    }
    .main__lesson--content p{
        padding: 10px 20px;
        color: #000000;
    }
    .main__lesson--content a{
        float: left;
        margin-left:20px;
    }
    /* Swimming Rate */
    .main__rate{
        background-image: url("../img/man.jpg");
        background-repeat: no-repeat;
        background-size:cover;
    }
    .main__rate--content {
        width:45.5%;
        height: 94vh;
        padding:90px;
        margin-left: 49px;
    }
    .main__rate--content h2{
        font-size: 30px;
        line-height: 36px;
        padding-bottom: 20px;
    }
    .main__rate--content p{
        font-size:24px;
        padding-bottom: 25px;
    }

    /* Our Event */
    .main__ourEvents--content{
        margin-left: 26px;
        width: 54.4%;
        height: 416px;
        margin-bottom: 30px;
    }
    .main__ourEvents--content h3{
        text-align: left;
        padding-bottom: 25px;
    }
    .main__ourEvents--content ol li span {
        top:-26px;
    }
    .main__ourEvents--img{
        margin-right: 14px;
        margin-left: 5px;
    }
    .main__ourEvents--img img{
        width: 96%;
        height: 416px;
        margin-right: 20px;
    }


    /* review school */
    .main__review {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 350px;
        padding: 0 45px;
        margin-top: -9;
        margin-bottom:190px;
    }
    .main__review--item{
        width: 100%;
        margin: 0 10px;
    }
    .review__item--content{
        margin:0;
    }
    .main__review--item img {
        width: 80%; 
        height: auto;
        margin-left: 29px;
        margin-bottom:-37px;
    }
    .review__item--content p {
        width: 90%;
        font-size: 18px;
        line-height: 25px;
    }
    .review__item--content span {
        font-size: 18px;
    }
    /* contact info */
    .main__contact--content {
        width: 56%;
    }
    .main__contact--content {
        width: 53.5%;
        font-size: 3vw;
        line-height: 57px;
        margin-left: 16px;
        margin-right: 17px;
    }
    .main__contact--content span {
        font-size: 3vw;
    }
    .main__map img {
        width: 98%;
        height: 100%;
    }
    footer p {
        text-align: center;
        padding: 7px;
        font-size: 2vw;
    }
}

@media screen and (min-width:1440px){
    .item__content--title p {
        font-size: 3.5vw;
        line-height: 43px;
    }
    .item__content--more {
        position: absolute;
        top: 281px;
        left: 270px;
    }
    /* school introduction */
    .main__school--content {
        width: 47%;
    }
    .main__school--content p {
        line-height: 49px;
    }
    .main__school--img img {
        width: 99%;
    }
    /* swim lesson  */
    .main__lesson--content {
        margin-right: 33px;
        width: 46.6%;
        height: 474px;
        padding: 73px 25px;
    }
    .main__lesson--content h4 {
        font-size: 40px;
        width: 54%;
        margin-left: 20px;
        text-align: left;
    }
    .main__lesson--content p {
        line-height: 39px;
        font-size: 2vw;
    }
    /* swimming rate */
    .main__rate--content {
        width: 45%;
        height: 94vh;
        padding: 90px;
        margin-left: 67px;
    }

    /* our Event */
    .main__ourEvents--content {
        margin-left: 40px;
        width: 47.4%;
        height: 457px;
        margin-bottom: 30px;
    }
    .main__ourEvents--img img {
        height: 456px;
    }

    /* review school */
    .main__review {
        margin-bottom: 230px;
    }

    /* contact info */
    .main__contact--content {
        width: 48.5%;
        padding: 50px;
    }
    .main__map img {
        width: 100%;
        height: 100%;
    }
}